---

stages:
  - unit
  - test
  - external

UnitTests:
  image: registry.fedoraproject.org/fedora
  stage: unit
  rules:
    - if: '$CI_PIPELINE_SOURCE != "merge_request_event"'
      when: never
    - when: always
  script:
    - |
      #!/usr/bin/env bash
      shopt -s expand_aliases
      alias python3l="python3"
      yum -y install curl gcc git iproute NetworkManager-libnm openssl python3 python3-devel \
        python3-gobject python3-pip python3-requests python3-systemd
      . ./prepare/envsetup/utils.sh
      install_behave_pytest
      python3 -m pip install PyYAML pexpect pyroute2 python-gitlab
      set +e
      stty cols 74
      python3 -m pytest nmci --capture=fd --junitxml=report.xml
      rc=$?
      python3 run/gitlab-pipelines/fix_pytest_xml.py report.xml
      if [ $rc != 0 ]; then
        # send commit SHA so pipeline will remain unresolved
        python3 run/centos-ci/gitlab_mr_discuss.py "$CI_SERVER_URL/$CI_PROJECT_PATH/pipelines/$CI_PIPELINE_ID/test_report?job_name=UnitTests" "Commit: $CI_COMMIT_SHA" "UnitTests failed\!"
      fi
      exit $rc
  artifacts:
    when: always
    reports:
      junit:
        - report.xml
    paths:
        - report.xml

TestResults:
  image: registry.fedoraproject.org/fedora
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE != "merge_request_event"'
      when: never
    - when: manual
  script:
    - |
      dnf -y install wget grep sed coreutils python3 python3-pip unzip
      python3 -m pip install python-gitlab
      JUNIT_URL="$(python3 run/centos-ci/gitlab_junit.py)"; RC=$?
      echo $JUNIT_URL
      [ "$RC" == 0 ] || exit 1
      for i in {1..50}; do
          wget -O report.xml "$JUNIT_URL" && break
          sleep 5
      done
      RPMS_URL=$(echo "$JUNIT_URL" | sed 's@junit.xml@rpms/\*zip\*/rpms.zip@')
      wget -O rpms.zip "$RPMS_URL" && unzip rpms.zip
      [ -s report.xml ] || rm -f report.xml
      [ -f report.xml ] || exit 1
      sed -n "/LOG:/n;p" report.xml | sed "s/<.*//g" | sort
      ! grep -q -F "<failure>" report.xml
  artifacts:
    when: always
    reports:
      junit:
        - report.xml
    paths:
        - report.xml
        - rpms/*.rpm
    expire_in: 1 week

