{% for test in testmapper %}
/{{ test['testname'] }}:
    test: {{ test['run'] }}
    {%- if test['dir'] != '.' %}
    path: /{{ test['dir'] }}
    {%- endif %}
    {%- if test['tags'] %}
    tag: {{ test['tags'] }}
    {%- endif %}
    {%- if test['package-deps'] %}
    require: {{ test['package-deps'] }}
    {%- endif %}
    environment:
        TEST: NetworkManager_{{ "%06d"|format(test['order']) }}_{{ test['testname'] }}
    order: {{ test['order'] }}
    {%- if mapper.default_test_timeout == test['timeout'] %}
    duration: {{ mapper.default_test_timeout }}
    {%- else %}
    duration: {{ test['timeout'] }}
    {%- endif %}
    tty: true
{% endfor %}
