test: {{ mapper.default_test_run }}
duration: {{ mapper.default_test_timeout }}
tty: true
order: 200
component: NetworkManager
link:
    - verifies: https://polarion.engineering.redhat.com/polarion/#/project/RHELNST/workitem?id=RHELNST-5601

{%- for test in testmapper %}
/{{ test.testname }}:
    {%- if test.run %}
    test: /{{ test.run }}
    {%- endif %}
    {%- if test.dir != '.' %}
    path: /{{ test.dir }}
    {%- endif %}
    {%- if test.tags %}
    tag: {{ test.tags }}
    {%- endif %}
    id: {{ test.id }}
    order+: {{ test.order }}
    {%- if test.timeout %}
    duration: {{ test.timeout }}
    {%- endif %}
    {%- if test.link %}
    link:
      {%- for link in test.link %}
      - implements: {{ link.implements }}
      {%- endfor %}
    {%- endif %}
{%- endfor %}
