[Unit]
Description=helper to copy behave html logs to webserver Document root

[Service]
ExecStart=python3 /usr/local/bin/publish_behave_logs

[Install]
WantedBy=multi-user.target
